@model WebApp.Models.Transacao

@{
    ViewBag.Title = "Deletar Transação";
}

<h2>Deletar</h2>

<h3>Tem certeza de que deseja deletar essa Transação?</h3>
<div>
    <h4>Transacao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDContaRemetente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDContaRemetente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDContaDestino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDContaDestino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataHora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataHora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Visualizar Transações", "Index")
        </div>
    }
</div>
