@model WebApp.Models.Transacao

@{
    ViewBag.Title = "Detalhes da Transação";
}

<h2>Details</h2>

<div>
    <h4>Transacao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDContaRemetente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDContaRemetente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDContaDestino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDContaDestino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataHora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataHora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Visualizar Transações", "Index")
</p>
