@model IEnumerable<WebApp.Models.Transacao>

@{
    ViewBag.Title = "Visualizar Transações";
}

<h2>Visualizar Transações</h2>

<p>
    @Html.ActionLink("Cadastrar nova transação", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDContaRemetente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDContaDestino)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataHora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDContaRemetente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDContaDestino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataHora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.ID }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
